body {
  max-width: 600px;
  margin: auto;
  padding: 50px;
  color: #334155;
  font-size: 16px;
}

button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #0ea5e9;
  color: white;
  text-align: center;
  box-shadow: 0px 7px 22px -6px #0ea5e9;
  width: 12rem;
  padding: 0.5rem;
  transition: all 0.4s;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}
button:hover {
  background: #0284c7;
}

.switch {
  position: relative;
  display: inline-block;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: #14b8a6;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}

.setting {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.setting > span {
  padding-left: 20px;
  font-weight: 600;
  font-size: 16px;
}

#status {
  color: #14b8a6;
  margin-top: 20px;
  padding: 20px 0;
}

#active {
  color: #14b8a6;
  font-weight: 600;
  font-size: 16px;
}

#notActive {
  color: #f43f5e;
  font-size: 16px;
}